body {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

#pod {
    width: 100%
}

#contain {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    position: relative;
    margin: auto;
}


#title {
    display: inline-block;
    margin-left: 3rem;
}

#col2 {
    width: 100%;
}

fieldset {
    margin-top: 1rem;
    border: none;
}

form {
    border-radius: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.523);
    box-shadow: 0 10px 15px 0 black;
    padding: 1rem;
}

input {
    display: inline-block;
    color: #dedede;
    margin: .3rem;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.248);
    transition: all .2s ease-in-out;
}

input:hover {
    transform: scale(1.3);
}

iframe {
	width:100%;
	height:100%;
    border: none;
}

.hide {
    opacity: 0;
    transition: all 2s;
}

.pop {
    position:absolute;
	top:0px;
	left: 0px;
    background: white;
    border: solid 2pt red;
    padding: 10px;
}

.roll {
    animation: roll 1s linear forwards;
}

.shine {
    animation: shine 2s linear forwards;
}

@keyframes shine{
    0% {
        color:black;
    }

    25% {
        color: gray;
    }

    50% {
        color: white;
    }

    75% {
        color: gray;
    }

    100% {
        color: black;
    }
}

@keyframes roll {
    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

